:root {
    /* coulors */
    --color-text: #fbeeee;
    --color-primary: #2c46ae;
    --color-secondary: #0d3eb1;
    --color-dark: #cdd4df;
    --color-bg: #133b78;

    /* Fonts */
    --font-robot: "Roboto";
}

