:root {
    /* coulors */
    --color-text: #fbeeee;
    --color-primary: #132260;
    --color-secondary: #1d449f;
    --color-dark: #cdd4df;
    --color-bg: #0f203a;

    /* Fonts */
    --font-robot: "Roboto";
}

